// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table {
  width: 75%;
}

.show {
  width: 55px;
}

.edit {
  width: 48px;
}

.destroy {
  width: 60px;
}

.container-fluid {
	background-color: black;
}

header {
	color:white;
}

